.img1{
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 20px solid red;    
}
.img2{
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 20px solid red;
    margin-left:200px;
}
.img3{
    display: block;
    background-color: lightskyblue;
    padding: 20px;
    border: 20px solid red;
    margin-left:400px;
}